body {
    margin: 0;
    padding: 0;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.checkbox-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 40px;
    background: #b7b7b7;
}

.checkbox-button input {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    opacity: 0;
}